[submodule "themes/up-business-theme"]
	path = themes/up-business-theme
	url = https://gitlab.com/writeonlyhugo/up-business-theme.git
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/hub4i/hugo-universal-theme.git
